* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #EFEFEF;
}

body, label, input, select {
  font-family: 'Poppins', sans-serif;
}

input:focus {
  outline: 2px solid #535971;
}

body::before {
  content: '';
  width: 100vw;
  height: 436px;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  background-color: #535971;
}

.page {
  width: 750px;
  margin: 0 auto;
}

header {
  width: 355px;
  margin-top: 140px;
}

header h1 {
  font-family: 'Staatliches', cursive;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;

  color: #FFFFFF;

  padding-bottom: 18px;
}

header p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  color: #FFFFFF;

  padding-bottom: 46px;
}

form {
  width: 750px;
  min-height: 300px;

  background: #FFFFFF;
  border-radius: 20px 20px 0px 0px;

  padding: 64px;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

fieldset {
  border: none;
}

fieldset legend {
  font-family: 'Staatliches', cursive;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  padding-bottom: 16px;

  color: #535971;

  width: 100%;
  border-bottom: 1px solid #E6E6F0;

  margin-bottom: 20px;
}

.name-two-coluns {
  display: flex;
  gap: 22px;
}

.input-wrapper {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.input-wrapper label {
  font-family: 'Poppins', sans-serif;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
 
  color: #4E4958;

  padding: 16px 0 8px;
}

.input-wrapper label span {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;

  color: #C1BCCC;

  padding-left: 6px;
}

.input-wrapper input {
  height: 56px;

  background: #FAFAFC;

  border: 1px solid #E6E6F0;
  border-radius: 8px;

  padding: 0px 8px 0px 8px;

  font-family: 'Poppins', sans-serif;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
 
  color: #4E4958;
}

fieldset h2 {
  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  color: #535971;
}

#coluns-date {
  display: flex;
  gap: 10px;
}

#coluns-date > div:nth-child(1) {
  width: 350%;
  margin-right: 20px;
}

footer {
  width: 750px;
  height: 160px;

  padding: 71px;

  background: #535971;
  border-radius: 0px 0px 20px 20px;

  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

footer button {
  width: 100%;
  height: 55px;

  background: #FF5374;
  border-radius: 20px;
  border: none;

  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;

  color: #FFFFFF;
}

footer button:hover {
  background: #ec264d;
  border: 2px solid #FFFFFF;
}